<ion-header>
    <ion-toolbar>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
                <span ion-text>Fermer</span>
            </button>
        </ion-buttons>
        <ion-title>Mes Messages</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-segment [(ngModel)]="messageType">
        <ion-segment-button value="all">
            Tous
        </ion-segment-button>
        <ion-segment-button value="read">
            Lus
        </ion-segment-button>
        <ion-segment-button value="unread">
            Non Lus
        </ion-segment-button>
    </ion-segment>
    <ion-refresher (ionRefresh)="refresh($event)">
        <ion-refresher-content pullingText="Rafraichir" refreshingText="recherche de nouveaux messages...">
        </ion-refresher-content>
    </ion-refresher>
    <ion-list>
        <ion-item *ngFor="let message of getMessages(messageType)" (click)="viewMessage(message)">
            <ion-icon name="{{message.seen ? 'mail-open' : 'mail'}}" item-start></ion-icon>
            <h5> Le {{message.horo | date: "dd/MM/yy HH:mm"}}</h5>
            <h3>{{message.object}}</h3>
            <span>{{message.message}}</span>
        </ion-item>
    </ion-list>
</ion-content>
