<ion-header>
    <ion-toolbar>
        <ion-buttons start>
            <button ion-button (click)="dismiss(null)">
                <span ion-text>Fermer</span>
            </button>
        </ion-buttons>
        <ion-title>Détails du trajet</ion-title>
        <ion-buttons start *ngIf="connected">
            <button ion-button (click)="dismiss(run)">
                <span ion-text>Reserver</span>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item>
            <h1 text-center>
                <span *ngFor="let subRun of run.subRuns; let i = index">
                    <span *ngIf="i > 0"> - </span>
                    {{subRun.startPlace.address.town}}
                    <span *ngIf="i == run.subRuns.length - 1"> - {{subRun.endPlace.address.town}}</span>
                </span>
            </h1>
            <h3>Le {{wantedSubRun.startDate | date: 'dd/MM/yyyy'}}</h3>
        </ion-item>
        <ion-item>
            Départ : {{wantedSubRun.startPlace.address.town}} - {{wantedSubRun.startPlace.address.district}}
            <ul style="list-style: none">
                <li>{{ wantedSubRun.startPlace.meetingPoint}}</li>
                <li>{{wantedSubRun.startTime}} (heure estimée)</li>
            </ul>
            Arrivée : {{wantedSubRun.endPlace.address.town}} - {{wantedSubRun.endPlace.address.district}}
            <ul style="list-style: none">
                <li>{{ wantedSubRun.endPlace.meetingPoint}}</li>
                <li>{{wantedSubRun.estimatedEndDate | date: 'dd/MM/yyyy'}} {{wantedSubRun.estimatedEndTime}} (heure estimée)</li>
            </ul>
            Nombre de places disponibles : {{wantedSubRun.availableSeats}}<br>
            type de baggage permis : {{run.luggageType}}
        </ion-item>
        <ion-item>
            Conducteur : {{run.driver.firstName}} {{run.driver.lastName | uppercase }}<br>
            <span *ngIf="nbRatings > 0">{{getRatings() | number: '1.0-1'}}/5 sur {{nbRatings}}</span>
            <span *ngIf="nbRatings == 0" text-wrap>Cet utilisateur n'a pas encore été évalué</span>
            <ion-avatar item-end>
                <img src="{{photo}}">
            </ion-avatar>
        </ion-item>
        <ion-item>
            Véhicule :
            <ul style="list-style: none">
                <li text-wrap>{{vehicle.brand}} {{vehicle.model}}</li>
                <li>{{vehicle.color}}</li>
                <li text-wrap>immatriculation : {{vehicle.registrationNumber}}</li>
            </ul>
            <ion-avatar item-end>
                <img src="{{photoVehicule}}">
            </ion-avatar>
        </ion-item>
    </ion-list>
</ion-content>
