<ion-header>

  <ion-navbar>
    <ion-title>Créer un trajet</ion-title>

    <ion-buttons right>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content padding>
  <form #f="ngForm" (ngSubmit)="onGoToStep4(f)">
    <ion-grid>

      <ion-row>
        <ion-col>
          <h4>Détail des étapes</h4>
        </ion-col>
      </ion-row>

      <div *ngFor="let address of runValues.addresses; let i = index of runValues.addresses">
        <ion-row *ngIf="i > 0">
          <ion-col>
            <ion-item>
              <ion-icon item-start name="cash"></ion-icon>
              <ion-label floating>Montant des péages de l'étape</ion-label>
              <ion-input type="number" name="toll{{ i }}" [(ngModel)]="address.toll" min="0"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <h6>{{ address.district }}, {{ address.town}}</h6>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-icon item-start name="calendar"></ion-icon>
              <ion-label floating>Date et heure</ion-label>
              <ion-datetime doneText="valider" cancelText="Annuler" name="dateTime{{ i }}" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55"
                displayFormat="DD/MM/YYYY HH:mm" pickerFormat="DD MMM YY HH mm" [(ngModel)]="address.dateTime"
                [disabled]="i == 0"></ion-datetime>
            </ion-item>
          </ion-col>
        </ion-row>
      </div>

      <div *ngIf="runValues.backAddresses != null">
        <ion-row>
          <ion-col>
            <h4>Trajet retour</h4>
          </ion-col>
        </ion-row>

        <div *ngFor="let backAddress of runValues.backAddresses, let i = index">
          <!-- consider the toll amounts will be the same on back trip -->
          <!-- <ion-row *ngIf="i > 0">
            <ion-col>
              <ion-item>
                <ion-icon item-start name="cash"></ion-icon>
                <ion-label floating>Montant des péages de l'étape</ion-label>
                <ion-input type="number" name="backToll{{ i }}" [(ngModel)]="backAddress.toll"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row> -->
          <ion-row>
            <ion-col>
              <h5>{{ backAddress.district }}, {{ backAddress.town}}</h5>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-icon item-start name="calendar"></ion-icon>
                <ion-label floating>Date et heure</ion-label>
                <ion-datetime doneText="valider" cancelText="Annuler" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55"
                  displayFormat="DD/MM/YYYY HH:mm" pickerFormat="DD MMM YY HH mm" name="backDateTime{{ i }}"
                  [(ngModel)]="backAddress.dateTime" [disabled]="i == 0"></ion-datetime>
              </ion-item>
            </ion-col>
          </ion-row>
        </div>

      </div>

      <ion-row>
        <ion-col>
          <button type="submit" ion-button block>Suivant</button>
        </ion-col>
      </ion-row>


    </ion-grid>
  </form>

</ion-content>
