page-user-profile {
   #notifications-badge {
            background-color: red;
            position: absolute;
            top: 25px;
            right: 3px;
            border-radius: 100%;
        }
}
