<ion-header>
    <ion-navbar>
        <ion-title>Info Utilisateur</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <form #form="ngForm" (ngSubmit)="signup(form.value)" novalidate>
        <ion-list>
            <ion-item>
                <ion-label floating>Nom</ion-label>
                <ion-input type="text" name="lastName" ngModel required #lastName="ngModel" [class.invalid]="lastName.errors && lastName.dirty"></ion-input>
            </ion-item>
            <ion-item class="error-message" *ngIf="lastName.errors?.required && lastName.dirty">
                Vous devez spécifié votre nom
            </ion-item>
            <ion-item>
                <ion-label floating>Prénom</ion-label>
                <ion-input type="text" name="firstName" ngModel required #firstName="ngModel" [class.invalid]="firstName.errors && firstName.dirty"></ion-input>
            </ion-item>
            <ion-item class="error-message" *ngIf="firstName.errors?.required && firstName.dirty">
                Vous devez spécifié votre nom
            </ion-item>
            <ion-item>
                <ion-label floating>e-Mail</ion-label>
                <ion-input type="text" name="mail" ngModel #mail="ngModel"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Photo</ion-label>
                <ion-input type="hidden" name="photo" ngModel required #photo="ngModel"></ion-input>
                <button ion-button icon-only item-end (click)="takePhoto(form)" type="button" [disabled]="!(firstName.errors?.required && lastName.errors?.required)">
                    <ion-icon name="camera"></ion-icon>
                </button>
                <button ion-button icon-only item-end (click)="takePicture(form)" type="button" [disabled]="!(firstName.errors?.required && lastName.errors?.required)">
                    <ion-icon item-end name="image"></ion-icon>
                </button>
            </ion-item>
            <ion-item>
                <img src="{{img}}" alt="photo" width="150" height="150" />
            </ion-item>
            <div padding>
                <button ion-button color="primary" block type="submit" [disabled]="!form.valid">Valider</button>
            </div>
        </ion-list>
    </form>
</ion-content>
