<ion-header>
    <ion-navbar no-border-bottom>
        <ion-title>
            Mes trajets
        </ion-title>
        <button ion-button [menuToggle]="activeMenu" right>
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-navbar>
    <ion-toolbar no-border-top>
        <ion-segment [(ngModel)]="runType">
            <ion-segment-button value="all">
                Tous
            </ion-segment-button>
            <ion-segment-button value="upcomming">
                à venir
            </ion-segment-button>
            <ion-segment-button value="passed">
                Passés
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>
<ion-content padding>
        <ion-segment [(ngModel)]="userType">
            <ion-segment-button value="all">
                Tous
            </ion-segment-button>
            <ion-segment-button value="driver">
                Conducteur
            </ion-segment-button>
            <ion-segment-button value="passenger">
                Passager
            </ion-segment-button>
        </ion-segment>
        <ion-list>
            <ion-item *ngFor="let run of getItems(runType, userType); let i = index" (click)="viewDetails(run)">
                <h3 text-center text-wrap>
                    <span *ngFor="let subRun of getSubRuns(i, runType, userType); let j = index">
                        <span *ngIf="j == 0">le {{subRun.startDate | date: 'dd/MM/yyyy'}} à {{subRun.startTime}} (heure estimée)<br></span>
                        <span *ngIf="j > 0"> - </span>
                        {{subRun.startPlace.address.town}}
                        <span *ngIf="j == subRuns.length - 1"> - {{subRun.endPlace.address.town}}<br></span>
                    </span>
                </h3>
            </ion-item>
    </ion-list>
</ion-content>
